@using TextShareServer.Services
@inject FileService FileService

@{
    ViewData["Title"] = "Stored Texts";
}
<div class="text-center">
    <h1 class="display-4">Stored Texts</h1>
    <h3><a href="./swagger">Access API</a></h3>
    <hr />
</div>
<div class="text-left">
    @foreach (var entry in FileService.GetAllTextEntries())
    {
        <h2>@entry.Id:</h2>
        <textarea class="entry-text" disabled="true">@entry.Text</textarea>
        <hr />
    }
</div>  